# Modeling

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><span><a href="#Load-Data-from-Pickle-Files" data-toc-modified-id="Load-Data-from-Pickle-Files-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Load Data from Pickle Files</a></span></li><li><span><a href="#XGBoost-Trial-Run" data-toc-modified-id="XGBoost-Trial-Run-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>XGBoost Trial Run</a></span></li></ul></div>

In [7]:
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Load Data from Pickle Files

In [3]:
with open('scratch/variables.pkl', 'rb') as f:
    (cat_cols, num_cols, bin_cols, id_col, target_col, 
    cat2int_cols, cat2int_encoders, cat2onehot_cols, 
    cat2onehot_sparse) = pickle.load(f)

In [8]:
full = pd.read_pickle('scratch/full_engineered.pkl')

## XGBoost Trial Run

Just use the numeric columns and integer-encoded categoricals...

In [16]:
use_cols = num_cols + cat2int_cols

Split training and test data

In [14]:
train = full.query('dataset=="past"')
test  = full.query('dataset=="future"')

print('Training set:')
display(train.shape)
display(train.head())

print('Test set:')
display(test.shape)
display(test.head())

Training set:

(252108, 51)

,dataset,air_store_id,id,visit_date,visitors,weekday,year,month,day_of_year,days_in_month,...,air_genre_name_int,air_area_name_int,hpg_genre_name_int,hpg_area_name_int,Todofuken_int,city_int,street_int,area_genre_int,store_weekday_int,store_weekday_holiday_int
0,past,air_ba937bf13d40fb24,air_ba937bf13d40fb24_2016-01-13,2016-01-13,25,2,2016,1,13,31,...,4,62,16,31,7,29,77,144,4222,7860
1,past,air_ba937bf13d40fb24,air_ba937bf13d40fb24_2016-01-14,2016-01-14,32,3,2016,1,14,31,...,4,62,16,31,7,29,77,144,4223,7862
2,past,air_ba937bf13d40fb24,air_ba937bf13d40fb24_2016-01-15,2016-01-15,29,4,2016,1,15,31,...,4,62,16,31,7,29,77,144,4224,7864
3,past,air_ba937bf13d40fb24,air_ba937bf13d40fb24_2016-01-16,2016-01-16,22,5,2016,1,16,31,...,4,62,16,31,7,29,77,144,4225,7866
4,past,air_ba937bf13d40fb24,air_ba937bf13d40fb24_2016-01-18,2016-01-18,6,0,2016,1,18,31,...,4,62,16,31,7,29,77,144,4220,7858

Test set:

(32019, 51)

,dataset,air_store_id,id,visit_date,visitors,weekday,year,month,day_of_year,days_in_month,...,air_genre_name_int,air_area_name_int,hpg_genre_name_int,hpg_area_name_int,Todofuken_int,city_int,street_int,area_genre_int,store_weekday_int,store_weekday_holiday_int
252108,future,air_00a91d42b08b08d9,air_00a91d42b08b08d9_2017-04-23,2017-04-23,0,6,2017,4,113,30,...,6,44,16,31,7,5,45,102,6,11
252109,future,air_00a91d42b08b08d9,air_00a91d42b08b08d9_2017-04-24,2017-04-24,0,0,2017,4,114,30,...,6,44,16,31,7,5,45,102,0,0
252110,future,air_00a91d42b08b08d9,air_00a91d42b08b08d9_2017-04-25,2017-04-25,0,1,2017,4,115,30,...,6,44,16,31,7,5,45,102,1,2
252111,future,air_00a91d42b08b08d9,air_00a91d42b08b08d9_2017-04-26,2017-04-26,0,2,2017,4,116,30,...,6,44,16,31,7,5,45,102,2,3
252112,future,air_00a91d42b08b08d9,air_00a91d42b08b08d9_2017-04-27,2017-04-27,0,3,2017,4,117,30,...,6,44,16,31,7,5,45,102,3,5

In [15]:
X_train = train[use_cols]
y_train = train[target_col]

print('Training set dimensions...')
print('  X_train:', X_train.shape)
print('  y_train:', y_train.shape)

Training set dimensions...
  X_train: (252108, 30)
  y_train: (252108,)